<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유게시판_메인페이지</title>
    <link href="../resources/css/normal-frame.css" rel="stylesheet">
    <link href="../resources/css/free-board.css" rel="stylesheet">
</head>
<body>
      
    <header class="territory">
  
    </header>
    
    <div class="content">
            
       

        <h1 class="main-text">자유게시판</h1>


        <!-- 분류, 검색창 -->
        <div id="category-search">
            <form action="#" method="get">

            <select name="free-category" id="free-category">
                <option value="1">&nbsp;작성자</option>
                <option value="2">&nbsp;제목</option>
            </select>



             <input type="text" id="search-input" name="keyword" value="" placeholder=" &nbsp;&nbsp;로그인이 되지 않아요.">
            <button type="submit" id="search-btn"><img src="../resources/img/search.png" id="search-img"></button>
          
                
            </form>
        </div>
        <!-- 분류, 검색창 끝 -->

        <div id="button-container">
        <button id="align-see">조회순</button>
        |
        <button id="align-new">최신순</button>
        </div>




     <!-- 핫 게시글 -->
     <table align="center" id="hot-area">
        <thead>
            <tr>
                <th width="150">작성자</th>
                <th width="550">제목</th>
                <th width="70">조회수</th>
                <th width="70">추천수</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <a href="#">
                <td>이찬우</td>
                <td>서버 점검 안내 [1]</td>
                <td>100</td>
                <td>10</td>
                </a>
            </tr>
            <tr>
                <a href="#">
                <td>이찬우</td>
                <td>서버 점검 안내 [1]</td>
                <td>100</td>
                <td>10</td>
                </a>
            </tr>
            <tr>
                <a href="#">
                <td>이찬우</td>
                <td>서버 점검 안내 [1]</td>
                <td>100</td>
                <td>10</td>
                </a>
            </tr>
        </tbody>
    </table> 
    <!-- 핫 게시글 끝 -->




        <!-- 일반 게시글 -->
        <table align="center" id="free-area">
            <tbody>
                <tr>
                    <a href="#">
                    <td width="150">이찬우</td>
                    <td width="550">서버 점검 안내 [1]</td>
                    <td width="70">100</td>
                    <td width="70">10</td>
                    </a>
                </tr>
                <tr>
                    <a href="#">
                    <td>이찬우</td>
                    <td>서버 점검 안내 [1]</td>
                    <td>100</td>
                    <td>10</td>
                    </a>
                </tr>
                <tr>
                    <a href="#">
                    <td>이찬우</td>
                    <td>서버 점검 안내 [1]</td>
                    <td>100</td>
                    <td>10</td>
                    </a>
                </tr>
            </tbody>
        </table>
        <!-- 일반 게시글 끝 -->

        <div id="move-to-insert"><a href="#">글 작성</a></div>




        <!--페이징바-->
        <div align="center" class="paging-area">
			<button onclick="location.href= '#' " >이전 페이지</button>
	        <button onclick="location.href='#'" >1</button>
            <button onclick="location.href='#'" >2</button>
            <button onclick="location.href='#'" >3</button>
			<button onclick="location.href = '#'">다음 페이지</button>	
		</div>


         
       
    </div>

    <footer class="territory" id="footer">
        <hr>
        <br>
        <a href="">공지사항</a> &nbsp;&nbsp;&nbsp;
        <a href="">1:1 실시간 채팅</a>
        <br>

        

    </footer>

</body>
</html>