 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유게시판_상세페이지</title>
    <link href="../resources/css/normal-frame.css" rel="stylesheet">
    <link href="../resources/css/free-detail.css" rel="stylesheet">
    
</head>
<body>
      
    <header class="territory">
 
    </header>
    
    <div class="content">
            
       
        <h1 class="main-text">자유게시판</h1>

        <!--게시판 정보 및 내용 시작-->
        <table align="center" id="free-table">
            <thead>
                <tr>
                    <th colspan="4" class="free-title">안녕하세요</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="140px">siddiiiiiddd</td>
                    <td width="140px">23.08.12</td>
                    <td width="32px"><img src="../resources/img/see.png" class="seeimg"></td>
                    <td width="508px">100</td>
                </tr>
            </tbody>
        </table>



        <div class="free-content" >
            안녕하세요
        </div>
      
        <!--게시판 정보 및 내용 끝-->




        <br>
        <div id="move-to-report"><a href="#">신고하기</a></div>






        <!--하단 버튼-->
        <div id="move-to-change"><a href="#">수정</a></div>
        <div id="move-to-delete"><a href="#">삭제</a></div>
        <br clear="both">
        <!--하단 버튼 끝-->
            



        <img src="../resources/img/beforelove.png" class="loveimg">
        <span id="count-love">10</span>








        <!--댓글 등록-->

        <div id="all-reply">댓글 | 3</div>
        <form action="#" method="post">
            <div class="textarea-container">
            <textarea id="reply-content" name="reply-content" placeholder="댓글 작성은 최대 150자까지 가능합니다."></textarea>
         
                <button type="submit" id="insert-reply">댓글 등록</button>
          </div>
        </form>
            



  <!-- 댓글 목록 -->
  <table align="center" id="free-area">
    <tbody>
        <tr class="free-reply">
            <td width="600">ㅋㅋㅋㅋㅋ</td>
            <td>|</td>
            <td width="120">idididid111</td>
            <td>|</td>
            <td width="100">23.08.11</td>
            <td class="trashbtn"><img src="../resources/img/trash.png"></td>
        </tr>

        <tr class="free-reply">
            <td width="600">ㅋㅋㅋㅋㅋ</td>
            <td>|</td>
            <td width="120">idididid111</td>
            <td>|</td>
            <td width="100">23.08.11</td>
            <td class="trashbtn"><img src="../resources/img/trash.png"></td>
        </tr>

        <tr class="free-reply">
            <td width="600">ㅋㅋㅋㅋㅋ</td>
            <td>|</td>
            <td width="120">idididid111</td>
            <td>|</td>
            <td width="100">23.08.11</td>
            <td class="trashbtn"><img src="../resources/img/trash.png"></td>
        </tr>
    </tbody>
</table>












       
    </div>

    <footer class="territory" id="footer">
        <hr>
        <br>
        <a href="">공지사항</a> &nbsp;&nbsp;&nbsp;
        <a href="">1:1 실시간 채팅</a>
        <br>

        

    </footer>

</body>
</html>