<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1:1문의내역_상세페이지</title>
    <link href="../resources/css/normal-frame.css" rel="stylesheet">
    <link href="../resources/css/cs-menu.css" rel="stylesheet">
    <link href="../resources/css/inquiry-detail.css" rel="stylesheet">
</head>

<body>

    <header class="territory">

    </header>

    <div class="content">


        <h1 class="cs-main-text">문의내역</h1>

        <!-- 메뉴바 -->
        <div align="center">
            <div class="cs-menu"><a href="#">공지사항</a></div>
            <div class="cs-menu"><a href="#">FAQ</a></div>
            <div class="cs-menu"><a href="#">1:1문의</a></div>
            <div class="cs-menu" id="selected-menu"><a href="#">문의내역</a></div>
        </div>
        <!-- 메뉴바 끝 -->
        <br><br><br><br>
        <hr style="width: 80%; border-color:rgba(0,0,0, 0.1)">

        <!--공지사항 정보 및 내용 시작-->
        <table align="center" id="inquiry-table">
            <thead>
                <tr>
                    <th colspan="3" class="inquiry-title">로그인이 안돼요</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="140px">계정</td>
                    <td width="140px">23.08.12</td>
                    <td width="540px" style="font-weight: bold;">처리완료</td>
                </tr>
            </tbody>
        </table>


        <div class="inquirycontent">
            문의 내용
        </div>
        <!--공지사항 정보 및 내용 끝-->


        <div id="question-text">Q.</div>

        <hr style="width: 80%; border-color:rgba(0,0,0, 0.1)">

        <div id="answer-text">A.</div>



        <!--관리자 답변-->
        <div class="inquirycontent">
            답변 내용
        </div>
        <!--관리자 답변 끝-->



        <!-- 목록 버튼 -->
        <div id="move-to-inquiry"><a href="#">목록</a></div>
        <!-- 목록 버튼 끝 -->
    </div>

    <footer class="territory" id="footer">
        <hr>
        <br>
        <a href="">공지사항</a> &nbsp;&nbsp;&nbsp;
        <a href="">1:1 실시간 채팅</a>
        <br>



    </footer>

</body>

</html>