<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/insertMeto.css">
</head>
<body>
      
    <header class="territory">
 
    </header>
    
    <div class="content">
            
      <div class="title">
        <h2>멘티 정보 등록</h2>
      </div>
    
      <main>

        <div class="info-list">
          <dt>멘토 |</dt>
          <dd>정승훈</dd>
      </div>
      <br><br>

      <select id="fruit" name="fruit">
        <option value="apple">C언어</option>
        <option value="banana">JAVA</option>
        <option value="orange">C++</option>
        <option value="grape">React</option>
        <option value="grape">Python</option>
    
      </select>
      <br><br>

        <form class="product-form">

          <label for="product-description">멘토링 제목을 입력해주세요</label>
          <textarea id="product-description" name="product-description" rows="1" placeholder="ex) 자바의 신. 나한테 배우면 다 고수"></textarea>

          <label for="product-description">커리어 정보를 입력해주세요.</label>
          <textarea id="product-description" name="product-description" rows="6" placeholder="ex) 삼성 하청의 하청의 SI 회사 말단 사원"></textarea>
    
          <label for="product-description">학력 정보 및 현재 개발 능력을 입력해주세요.</label>
          <textarea id="product-description" name="product-description" rows="6" placeholder="ex) 프린스턴 대학 컴공과 졸업"></textarea>
    
          <label for="product-description">자신을 소개해주세요.</label>
          <textarea id="product-description" name="product-description" rows="6" placeholder="ex) 저도 초반엔 개발을 못했지만..."></textarea>
    

          <div class="button-container">
          <button type="button" class="cancel-button">취소</button>
          <button type="submit" class="register-button">등록</button>
          </div>
  
   
        </form>
      </main>

            








       
    </div>

    <footer class="territory" id="footer">
        <hr>
        <br>
        <a href="">공지사항</a> &nbsp;&nbsp;&nbsp;
        <a href="">1:1 실시간 채팅</a>
        <br>

        

    </footer>

</body>
</html>