<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/insertStudy.css">

</head>
<body>
      
    <header class="territory">
 
    </header>
    
    <div class="content">
            
      <div class="title">
        <h2>스터디 개설</h2>
      </div>
    
      <main>


      <br><br>


      <br><br>

        <form class="product-form">

          <div class="">
          <label for="title">제목을 입력하세요</label>
          <input type="text" id="study-title" name="title" required><br><br>
          </div>

          <label for="account-number">내용</label>
          <textarea id="product-description" name="product-description" rows="16" placeholder="ex) 저도 초반엔 개발을 못했지만..."></textarea>
    

          <label for="account-number">인원수를 선택하세요</label>  
          <select id="people" name="fruit" class="people">
            <option value="apple">1</option>
            <option value="banana">2</option>
            <option value="orange">3</option>
            <option value="grape">4</option>
            <option value="grape">5</option>
          </select>

          <div class="button-container">
          <button type="button" class="cancel-button">취소</button>
          <button type="submit" class="register-button">등록</button>
          </div>

   
        </form>
      </main>

            








       
    </div>

    <footer class="territory" id="footer">
        <hr>
        <br>
        <a href="">공지사항</a> &nbsp;&nbsp;&nbsp;
        <a href="">1:1 실시간 채팅</a>
        <br>

        

    </footer>

</body>
</html>