 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자식인_상세페이지</title>
    <link href="../resources/css/normal-frame.css" rel="stylesheet">
    <link href="../resources/css/knowledge-detail.css" rel="stylesheet">
</head>
<body>
      
    <header class="territory">
   
    </header>
    
    <div class="content">
            

                <h1 class="main-text">지식인</h1>

                
                <div id="question-language">Q.</div>
        
        
                <!--지식인 정보 및 내용 시작-->
                <table align="center" id="knowledge-table">
                    <thead>
                        <tr>
                            <th colspan="5" class="knowledge-title">안녕하세요</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="140px">siddiiiiiddd</td>
                            <td width="140px">23.08.12</td>
                            <td width="32px"><img src="../resources/img/see.png" class="seeimg1"></td>
                            <td width="398px">100</td>
                            <td width="140px" style="font-weight: bold; color: #40E0D0; font-size: 25px;">
                                채택완료
                            </td>
                        </tr>
                    </tbody>
                </table>
        
        
                <div class="knowledge-content" >
                    안녕하세요
                </div>
              
                <!--지식인 정보 및 내용 끝-->
        
        
        
                <!--신고-->
                <br>
                <div id="move-to-report"><a href="#">신고하기</a></div>
        
        
        
        
        
        
                <!--하단 버튼-->
                <div id="move-to-change"><a href="#">수정</a></div>
                <div id="move-to-delete"><a href="#">삭제</a></div>
                <br clear="both">
                <!--하단 버튼 끝-->
                    
        
        
                
                <!--좋아요-->
                <img src="../resources/img/beforelove.png" class="loveimg">
                <span id="count-love">10</span>
        
                


                <!--답변 버튼-->
                <div id="move-to-insert"><a href="#">답변하기</a></div>
        
        
                <div id="answer-language">
                    <span id="answer-logo">A.</span>
                    <span id="answer-quantity">&nbsp;2개</span>
                </div>
        
        
        
        
        
                 <!--채택된 답변 시작-->
                <table align="center" id="correct-table">
                    <tbody>
                        <tr>
                            <td width="150px">siddiiiiiddd</td>
                            <td width="150px">23.08.12</td>
                            <td width="15px"><img src="../resources/img/see.png" class="seeimg2"></td>
                            <td width="380px">100</td>
                            <td width="150px" style="font-weight: bold; color: #40E0D0; ">
                                채택된 답변
                            </td>
                        </tr>
                    </tbody>
                </table>



                <div class="correct-content" >
                    안녕하세요
                </div>
            
                <!--채택된 답변끝-->







                
                 <!--일반 답변 시작-->
                 <table align="center" id="answer-table">
                    <tbody>
                        <tr>
                            <td width="150px">siddiiiiiddd</td>
                            <td width="150px">23.08.12</td>
                            <td width="15px"><img src="../resources/img/see.png" class="seeimg2"></td>
                            <td width="380px">100</td>
                            <td width="150px">
                                <button type="button" id="insert-correct">채택하기</button>
                            </td>
                        </tr>
                    </tbody>
                </table>



                <div class="answer-content" >
                    안녕하세요
                </div>

                <table align="center" id="answer-table">
                    <tbody>
                        <tr>
                            <td width="150px">siddiiiiiddd</td>
                            <td width="150px">23.08.12</td>
                            <td width="15px"><img src="../resources/img/see.png" class="seeimg2"></td>
                            <td width="380px">100</td>
                            <td width="150px">
                                <button type="button" id="insert-correct">채택하기</button>
                            </td>
                        </tr>
                    </tbody>
                </table>



                <div class="answer-content" >
                    안녕하세요
                </div>
            
            
                <!--일반 답변끝-->
       
    </div>

    <footer class="territory" id="footer">
        <hr>
        <br>
        <a href="">공지사항</a> &nbsp;&nbsp;&nbsp;
        <a href="">1:1 실시간 채팅</a>
        <br>

        

    </footer>

</body>
</html>