<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자식인_글수정_답변자</title>
    <link href="../resources/css/normal-frame.css" rel="stylesheet">
    <link href="../resources/css/knowledge-answer-edit.css" rel="stylesheet">
</head>
<body>
      
    <header class="territory">
 
    </header>
    
    <div class="content">
             
        <h1 class="main-text">지식인</h1>

        <form action="#" method="post">
            <!-- 회원가입form안에.txt -->
            <table id="knowledge-table">

                <tr>
                    <th>답변</th>
                    <td>
                        <textarea id="knowledge-content" name="knowledge-content"  required  placeholder="내용을 입력하세요"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>첨부파일</th>
                    <td>
                        <label for="knowledge-file">
                            <div id="knowledge-upload">파일 업로드하기</div>
                        </label>
                        <input type="file" id="knowledge-file" name="upfile">
                    </td>
                </tr>

            </table>
            <br>
            <div align="center">
                <button type="button" id="knowledge-back">취소</button>
                <button type="submit" id="knowledge-change">수정</button>
            </div>
        </form>

 
             








       
    </div>

    <footer class="territory" id="footer">
        <hr>
        <br>
        <a href="">공지사항</a> &nbsp;&nbsp;&nbsp;
        <a href="">1:1 실시간 채팅</a>
        <br>

        

    </footer>

</body>
</html>