<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지식인_메인페이지</title>
    <link href="../resources/css/normal-frame.css" rel="stylesheet">
    <link href="../resources/css/knowledge-board.css" rel="stylesheet">
    
</head>
<body>
      
    <header class="territory">
 
    </header>
    
    <div class="content">
            
       

        <h1 class="main-text">지식인</h1>


        <!-- 분류, 검색창 -->
        <div id="category-search">
            <form action="#" method="get">

            <select name="knowledge-category" id="knowledge-category">
                <option value="1">&nbsp;작성자</option>
                <option value="2">&nbsp;제목</option>
            </select>



             <input type="text" id="search-input" name="keyword" value="" placeholder=" &nbsp;&nbsp;로그인이 되지 않아요.">
            <button type="submit" id="search-btn"><img src="../resources/img/search.png" id="search-img"></button>
          
                
            </form>
        </div>
        <!-- 분류, 검색창 끝 -->

        <div id="button-container">
        <button id="filtering-qna">Q&A</button>
        |
        <button id="filtering-best">베스트</button>

        <button id="filtering-all">전체</button>
        |
        <button id="filtering-notdone">미답변만 보기</button>
        </div>





        <!-- 일반 게시글 -->
        <table align="center" id="knowledge-area">
            <tbody>
                
                <tr>
                    <td width="100" >#자바</td>
                    <td width="540" align="left">
                        <b>안녕하세요 자바 공부하고 있는데 이게 뭔가요 [1]</b>
                        <br><hr color="gray" style="background-color: rgb(0, 0, 0); height: 0.1px; border: 0px; opacity: 0.2;">
                        자바 배우고 있는데 이해가 안되네요
                    </td>
                    <td width="100" ><img src="../resources/img/beforelove.png" class="loveimg">100</td>
                    <td width="100" >답변대기중</td>
                   
                </tr>

                  <tr>
                    <td width="100" >#자바</td>
                    <td width="540" align="left">
                        <b>안녕하세요 자바 공부하고 있는데 이게 뭔가요 [1]</b>
                        <br><hr color="gray" style="background-color: rgb(0, 0, 0); height: 0.1px; border: 0px; opacity: 0.2;">
                        자바 배우고 있는데 이해가 안되네요
                    </td>
                    <td width="100" ><img src="../resources/img/beforelove.png" class="loveimg">100</td>
                    <td width="100" >답변대기중</td>
                   
                </tr>
               
           
            </tbody>
        </table>
        <!-- 일반 게시글 끝 -->

        <div id="move-to-insert"><a href="#">질문하기</a></div>




        <!--페이징바-->
        <div align="center" class="paging-area">
			<button onclick="location.href= '#' " >이전 페이지</button>
	        <button onclick="location.href='#'" >1</button>
            <button onclick="location.href='#'" >2</button>
            <button onclick="location.href='#'" >3</button>
			<button onclick="location.href = '#'">다음 페이지</button>	
		</div>









       
    </div>

    <footer class="territory" id="footer">
        <hr>
        <br>
        <a href="">공지사항</a> &nbsp;&nbsp;&nbsp;
        <a href="">1:1 실시간 채팅</a>
        <br>

        

    </footer>

</body>
</html>