<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HelloMentor-로그인</title>
    <link href="../resources/css/login-style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="content">
      <div class="loginMain">
        <div style="font-size: 40px" align="center">로그인</div>
        <div class="login">
          <input
            type="text"
            name="userId"
            placeholder="아이디를 입력하세요"
            size="33"
            maxlength="25"
            required
          />
          <input
            type="password"
            name="userPwd"
            size="33"
            placeholder="비밀번호를 입력하세요"
            maxlength="25"
            required
          />
        </div>
        <div class="loginButton">
          <button type="button" onclick="location.href=''" id="login-btn">
            로그인
          </button>
          <button type="button" onclick="location.href=''" id="sign-up-btn">
            회원가입
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
