<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/tokdenExchange.css">

</head>
<body>
      
    <header class="territory">
 



    </header>
    
    <div class="content">
            
      <div class="title">
        <h1>토큰 충전</h1>
      </div>

      <div class="info-list">
          <span>보유 토큰</span>
          <dd>100</dd>
          <div class="container1">
            <img src="resources/images/token.png" >
          </div>
      </div>
    
     
      <div class="exchange-container">
        <form id="exchange-form">
          <div class="form-group">
            <label for="bank-select" >거래 은행</label>
            <select id="bank-select" class="bank-select">
              <option value="hana">하나은행</option>
              <option value="kb">국민은행</option>
              <option value="shinhan">신한은행</option>
            </select>
          </div>
          <div class="form-group">
            <label for="account-number">계좌번호</label>
            <input type="text" id="account-number" placeholder="계좌번호를 입력하세요">
          </div>
          <div class="form-group">
            <label for="amount">예상 환전금 | 900원</label>  
          </div>
          <div class="form-group"> 
            <label for="amount">(주) 헬로우멘토의 서비스 제공에 의한 수수료 10%로 전체 환전금의 10%가 차감됩니다.<br>
              환전금은 일부 환전이 불가하며 보유중인 전체 토큰 환전만 가능합니다.<br>
              계좌번호 잘못 입력시 책임은 당사자에게 있습니다.<br>
              문의사항 및 환전금 미지급의 경우 홈페이지 ‘문의하기'를 이용해 주시기 바랍니다.<br>
              은행사 영업일 기준 0~7일 소요될 수 있습니다.</label>    
          </div>
          <button type="button" id="cancel-button">취소</button>
          <button type="button" id="pay-button">환전</button>
        </form>
      </div>
   
      

            








       
    </div>

    <footer class="territory" id="footer">
        <hr>
        <br>
        <a href="">공지사항</a> &nbsp;&nbsp;&nbsp;
        <a href="">1:1 실시간 채팅</a>
        <br>

        

    </footer>

</body>
</html>