<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/tokenInsert.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    
</head>
<body>
      
    <header class="territory">
 
    </header>
    
    <div class="content">
            
      <div class="title">
        <h1>토큰 충전</h1>
      </div>



    <div class="info-list">
        <span>보유 토큰</span>
        <dd>100</dd>
        <div class="container1">
          <img src="resources/images/token.png" >
        </div>
    </div>





    
      <main>
        <form id="payment-form" class="payment-form-class">
          <div class="radio-group">
            <input type="radio" id="option1" name="payment-option" value="option1">
            <label for="option1"  id="token-price">10</label>
            <img src="resources/images/token.png"  class="container">
            <label for="option1" id="price" class="price">₩1,000</label>
            
          </div>
          <div class="radio-group">
            <input type="radio" id="option2" name="payment-option" value="option2">
            <label for="option1" id="token-price">50</label>
            <img src="resources/images/token.png"  class="container">
            <label for="option1" id="price" class="price">₩5,000</label>
          </div>
          <div class="radio-group">
            <input type="radio" id="option3" name="payment-option" value="option3">
            <label for="option1"  id="token-price">100</label>
            <img src="resources/images/token.png"  class="container">
          <label for="option1" id="price" class="price1">₩10,000</label>
          </div>
          <div class="radio-group">
            <input type="radio" id="option3" name="payment-option" value="option3">
            <label for="option1"  id="token-price">200</label>
            <img src="resources/images/token.png"  class="container">
            <label for="option1" id="price" class="price1">₩20,000</label>
          </div>
          <div class="radio-group">
            <input type="radio" id="option3" name="payment-option" value="option3">
            <label for="option1"  id="token-price">500</label>
            <img src="resources/images/token.png"  class="container">
          <label for="option1" id="price" class="price1">₩50,000</label>
          </div>
          <button type="button" id="cancel-button">취소</button>
          <button type="button" id="pay-button">충전</button>
        </form>
      </div>
      
   
      </main>

            
<script>



</script>







       
    </div>

    <footer class="territory" id="footer">
        <hr>
        <br>
        <a href="">공지사항</a> &nbsp;&nbsp;&nbsp;
        <a href="">1:1 실시간 채팅</a>
        <br>

        

    </footer>

    <script>
      $(document).ready(function() {
        $('.radio-group input[type="radio"]').click(function(event) {
          event.stopPropagation(); // 라디오 버튼 클릭 시 이벤트 전파 중지
          $('.radio-group').removeClass('selected'); // 모든 그룹의 선택 해제
          $(this).closest('.radio-group').addClass('selected'); // 클릭한 라디오 버튼이 속한 그룹 선택
        });
      });
    </script>



</body>
</html>