<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<link rel="stylesheet" type="text/css" href="resources/css/공지사항.css">
   
</head>
<body>
      
    <header class="territory">
 
    </header>
    
    <div class="content">
        
        <div>
            <div id="sideMenuBar">
                <br><br><br><br><br><br><br><br><br><br><br><br>
               
                <br>
               <li>회원관리</li><br><br><br><br>
               <li>문의관리</li><br><br><br><br>
               
               <li>신고관리</li><br><br><br><br>
               <li>공지사항</li>
            </div>
            <div id="inputMenuBar">
                <div id="memberHeader">
                    <br><br>
                    
                    <div id="memberBox">
                        <h1><br>&nbsp;공지사항</h1> 
                        
                        <div id="noticeTitle">

                        </div>
                        <div id="noticeContent">
                            <div class="noticeMain"> 

                                <form action="test.do">
                                    <div id="noticeWrite">
                                           <input type="text" class="noticeTitle" name="noticeTitle" placeholder="제목 작성" size="33"  maxlength="25"> <br>
                                           <select name="choose"  class="choose" size="1" 5px; style="border-radius: 10px;">
                                            <option selected>아이디</option> 
                                            <option selected>이름</option>
                                            </select><br>
                                          <textarea name="text" name="noticeContent" class="noticeContent" style="resize: none;" placeholder="내용 작성"></textarea>
                                       </div>
                                       
                                              <br>
                                             <div id="loginButton">
                                                 <input type="submit" value="글작성" style="width: 80px; border:1px solid; border-radius: 10px;">
                                             </div> 
                                         </form>
                            </div>
                        </div>
                       </div>
    

                  </div>


                
                
                    </div>
            </div>
        
        
        
        
        
        
        </div>
     



       

    <footer class="territory" id="footer">
        <hr>
        <br>
        <a href="">공지사항</a> &nbsp;&nbsp;&nbsp;
        <a href="">1:1 실시간 채팅</a>
        <br>

        

    </footer>

</body>
</html>