<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" type="text/css" href="resources/css/관리자메인페이지.css">

  

</head>
<body>
      
    <header class="territory">
 
    </header>
    
    <div class="content">
        
        <div>
            <div id="sideMenuBar">
                <br><br><br><br><br><br><br><br><br><br><br><br>
               
                <br>
               <li>회원관리</li><br><br><br><br>
               <li>문의관리</li><br><br><br><br>
               
               <li>신고관리</li><br><br><br><br>
               <li>공지사항</li>
            </div>
            <div id="inputMenuBar">
                
                <div id="realAllBox">
                    <div id="allBox">
                        <div id="box1">
                        </div>
                        <div id="box2">
                        </div>
                        <div id="box3">
                        </div>
                        <div id="box4">
                        </div>
                    </div>
                    <div id="allInBox">
                        <div id="inBox1">
                            <br> <br>
                        <h3>회원수</h3>
                        <h1>143명</h1>
                        </div>
                        <div id="inBox2">
                            <br> <br>
                            <h3>문의건수</h3>
                            <h1>12건</h1>
                        </div>
                        <div id="inBox3">
                            <br> <br>
                            <h3>신고건수</h3>
                            <h1>32건</h1>
                        </div>
                        <div id="inBox4">
                            <br> <br>
                        <h3>접수된 스터디</h3>
                        <h1>13개</h1>
                        </div>
                    </div>

                </div>

            </div>
        </div>
     
    </div>


       

    <footer class="territory" id="footer">
        <hr>
        <br>
        <a href="">공지사항</a> &nbsp;&nbsp;&nbsp;
        <a href="">1:1 실시간 채팅</a>
        <br>

        

    </footer>

</body>
</html>