<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="resources/css/신고관리상세페이지.css">


</head>
<body>
      
    <header class="territory">
 
    </header>
    
    <div class="content">
        
        <div>
            <div id="sideMenuBar">
                <br><br><br><br><br><br><br><br><br><br><br><br>
               
                <br>
               <li>회원관리</li><br><br><br><br>
               <li>문의관리</li><br><br><br><br>
               
               <li>신고관리</li><br><br><br><br>
               <li>공지사항</li>
            </div>
            <div id="inputMenuBar">
                <div id="memberHeader">
                    <br><br>
                    
                    <div id="contentBox">
                        <h1><br>신고 관리</h1> 
                        
                        <div id="noticeTitle">
                          <div id="noticeTitleLeft">
                            <li>카테고리: 자유게시판</li><br>
                            <li>제목: Spring 이렇게</li><br>
                            <li>신고자: user01</li>
                          </div>
                          <div id="noticeTitleRight">
                              <li>게시글작성자: user11</li>
                              <li>신고일: 2023-08-09</li>
                          </div>      

                        </div>
                        <div id="noticeContent">
                            <div class="noticeMain"> 
                                     
                                <form action="test.do">
                                    <div id="noticeWrite">
                                           제목: <input type="text" class="noticeTitle" name="noticeTitle" placeholder="제목 작성" size="33"  maxlength="25"> <br><br>
                                        내용: <br> <textarea name="text" name="noticeContent" class="noticeContent" style="resize: none;" placeholder="내용 작성"></textarea>
                                       </div>
                                       <div id="attatchment">
                                         첨부파일 : 신고관리1.jpg
                                       </div>
                                             <div id="loginButton">
                                                <input type="submit" value="목록" style="width: 80px; border:1px solid; border-radius: 10px;">
                                                 <input type="submit" value="접수" style="width: 80px; border:1px solid; border-radius: 10px;">
                                             </div> 
                                         </form>
                            </div>
                        </div>
                       </div>
    

                  </div>


                
                
                    </div>
            </div>
        
        
        
        
        
        
        </div>
     



       

    <footer class="territory" id="footer">
        <hr>
        <br>
        <a href="">공지사항</a> &nbsp;&nbsp;&nbsp;
        <a href="">1:1 실시간 채팅</a>
        <br>

        

    </footer>

</body>
</html>