<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="resources/css/신고관리 목록.css">


</head>
<body>
      
    <header class="territory">
 
    </header>
    
    <div class="content">
        
        <div>
            <div id="sideMenuBar">
                <br><br><br><br><br><br><br><br><br><br><br><br>
               
                <br>
               <li>회원관리</li><br><br><br><br>
               <li>문의관리</li><br><br><br><br>
               <li>신고관리</li><br><br><br><br>
               <li>공지사항</li>
            </div>
           
            <div id="inputMenuBar"> 
             <div id="memberHeader">
             <h1>신고 관리&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1> 
             <div id="searchBox">
                <div class="최근">최근순</div>
                <div class="오래된">오래된순</div><br><br>
                <div>접수완료</div>
                <!-- 토글버튼 -->
                <div class="wrap">
                    <input type="checkbox" class="sr-only" id="check">
                    <label for="check">
                        <div class="button">
                            <div class="inside"></div>
                        </div>
                    </label>
                </div>

                <!-- 토글버튼 끝-->
                       </div>
                </div>   
                
                <br>
                <div id="memberContent">
                    <table id="boardListTitle" class="table" >
                        <thead>
                            <tr>
                                <th>신고목록</th>
                                <th>아이디&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th>신고제목&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th>등록일</th>
                            </tr>
                        </thead>
                        </table>
                            <div id="boardList">
                                <div class="first">no.1</div>
                                <div class="second">digntm</div>
                                <div class="third">신용수 범죄자임</div>
                                <div class="force">23.07.08</div>
                            </div><br>
                            <div id="boardList">
                                <div class="first">no.1</div>
                                <div class="second">digntm</div>
                                <div class="third">정승훈 스토커임</div>
                                <div class="force">23.07.08</div>
                            </div><br>
                            <div id="boardList">
                                <div class="first">no.1</div>
                                <div class="second">digntm</div>
                                <div class="third">재린님이 이상해요</div>
                                <div class="force">23.07.08</div>
                            </div><br>
                            <div id="boardList">
                                <div class="first">no.1</div>
                                <div class="second">digntm</div>
                                <div class="third">찬우님 총들고 있음</div>
                                <div class="force">23.07.08</div>
                            </div><br>
                            <div id="boardList">
                                <div class="first">no.1</div>
                                <div class="second">digntm</div>
                                <div class="third">강사님이 사람 팸</div>
                                <div class="force">23.07.08</div>
                            </div><br>
                            <div id="boardList">
                                <div class="first">no.1</div>
                                <div class="second">digntm</div>
                                <div class="third">찬우님 총들고 있음2</div>
                                <div class="force">23.07.08</div>
                            </div><br>
                            <div id="boardList">
                                <div class="first">no.1</div>
                                <div class="second">digntm</div>
                                <div class="third">찬우님 총들고 있음4</div>
                                <div class="force">23.07.08</div>
                            </div><br>
                            <div id="boardList">
                                <div class="first">no.1</div>
                                <div class="second">digntm</div>
                                <div class="third">찬우님 총들고 있음3</div>
                                <div class="force">23.07.08</div>
                            </div><br>
                            
                            
                              
                              
                            
                      
                       
                       
                        <div class="board_page">
                            <a href="#" class="btn prew"><b><</b></a>
                            <a href="#" class="num selected"><b>1</b></a>
                            <a href="#" class="num"><b>2</b></a>
                            <a href="#" class="num"><b>3</b></a>
                            <a href="#" class="num"><b>4</b></a>
                            <a href="#" class="num"><b>5</b></a>
                            <a href="#" class="num"><b>6</b></a>
                            <a href="#" class="num"><b>7</b></a>
                            <a href="#" class="num"><b>8</b></a>
                            <a href="#" class="num"><b>9</b></a>
                            <a href="#" class="num"><b>10</b></a>
                            <a href="#" class="btn next"><b>></b></a>
                        </div>
                
                 
                        
                        
                        
                </div>
                </div>
                <br>

            </div>



       

    <footer class="territory" id="footer">
        <hr>
        <br>
        <a href="">공지사항</a> &nbsp;&nbsp;&nbsp;
        <a href="">1:1 실시간 채팅</a>
        <br>

        

    </footer>

</body>
</html>