<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<link rel="stylesheet" type="text/css" href="resources/css/회원상세정보_소개글.css">


</head>
<body>
      
    <header class="territory">
 
    </header>
    
    <div class="content">
        
        <div>
            <div id="sideMenuBar">
                <br><br><br><br><br><br><br><br><br><br><br><br>
               
                <br>
               <li>회원관리</li><br><br><br><br>
               <li>문의관리</li><br><br><br><br>
               
               <li>신고관리</li><br><br><br><br>
               <li>공지사항</li>
            </div>
            <div id="inputMenuBar">
                <div id="memberHeader">
                    <br><br>
                    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;회원상세정보</h1> 
                    <div id="memberBox">
                        <div id="memberImg">
                            <img src="resources/images/인물사진.png" alt="" width="200px" height="200">
                        </div>
                        <div id="memberState">
                            <li>아이디: user01</li>
                            <li>이름 : 민경민</li>
                            <li>전화번호 : 010-1111-2222</li>
                            <li>회원 등록 : 멘티</li>
                            <li>회원 상태 : (정상/차단/탈퇴)</li>
                        </div>
                       </div>
               
                  <div id="fullIntroduction">
                    
                    <div id="allButton">
                    <div id="introductionText"><p><h3>소개글</h3></p></div>
                   <div id="boardListMain"><p><h3>게시글목록</h3></p></div> 
                  </div><br>
                   
                    <div id="contentGrey">
                      <div id="contentWhite" >


                      <div><p><b>원하는 멘토링</b></p>
                        <input type="text" class="wantMento" name="wantMento" size="33"  maxlength="25" required> <br>
                      </div>
                      
                      <div> <p><b>멘티 학력 정보 및 개발능력</b></p>
                        <input type="text" class="ability" name="ability"  size="33"  maxlength="25" required> <br>

                      </div>
                      <div>
                       <p><b>멘티 자기소개</b></p>
                        <input type="text" class="self" name="self" size="33"  maxlength="25" required> <br><br>

                    </div>
                  </div>

                  </div>

                  </div>


                
                
                    </div>
            </div>
        
        
        
        
        
        
        </div>
     
    </div>


       

    <footer class="territory" id="footer">
        <hr>
        <br>
        <a href="">공지사항</a> &nbsp;&nbsp;&nbsp;
        <a href="">1:1 실시간 채팅</a>
        <br>

        

    </footer>

</body>
</html>