<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="resources/css/회원정보관리.css">


      

</head>
<body>
      
    <header class="territory">
 
    </header>
    
    <div class="content">
        
        <div>
            <div id="sideMenuBar">
                <br><br><br><br><br><br><br><br><br><br><br><br>
               
                <br>
               <li>회원관리</li><br><br><br><br>
               <li>문의관리</li><br><br><br><br>
               
               <li>신고관리</li><br><br><br><br>
               <li>공지사항</li>
            </div>
           
            <div id="inputMenuBar"> 
             
                <div id="memberHeader">
                    <h1>회원 정보 관리&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1> 
                    <div id="searchBox">
                        <select name ="choose" size="1" 5px; style="border-radius: 10px; position: relative; left: -7px;">
                           <option selected>아이디</option> 
                           <option selected>이름</option>
                           <div id="dButton">
                               <input type="text" style="border-radius:10px;"  size="20"  maxlength="15" required>
                               <img src="resources/images/돋보기.png" id="bod" style="position: relative; top: 9px;" width="33px" height="33px">
                           </div>
                       </div>   
                
                <br>
                <div id="memberContent" style="text-align: center; position: relative; left: 70px;">
                    <table id="boardListTitle" class="table" style="width: 800px; height: 50px;">
                        <thead>
                            <tr>
                                <th>NO.</th>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>멘토/멘티</th>
                                <th>회원상태</th>
                            </tr>
                        </thead>
                        </table>
                        <div id="boardList">
                            <div class="first">no.1</div>
                            <div class="second">digntm</div>
                            <div class="third">김정찬</div>
                            <div class="force">멘토</div>
                            <div class="five">Y</div>
                        </div><br>
                        <div id="boardList">
                            <div class="first">no.1</div>
                            <div class="second">digntm</div>
                            <div class="third">김정찬</div>
                            <div class="force">멘토</div>
                            <div class="five">Y</div>
                        </div><br>
                        <div id="boardList">
                            <div class="first">no.1</div>
                            <div class="second">digntm</div>
                            <div class="third">김정찬</div>
                            <div class="force">멘토</div>
                            <div class="five">Y</div>
                        </div><br>
                        <div id="boardList">
                            <div class="first">no.1</div>
                            <div class="second">digntm</div>
                            <div class="third">김정찬</div>
                            <div class="force">멘토</div>
                            <div class="five">Y</div>
                        </div><br>
                        <div id="boardList">
                            <div class="first">no.1</div>
                            <div class="second">digntm</div>
                            <div class="third">김정찬</div>
                            <div class="force">멘토</div>
                            <div class="five">Y</div>
                        </div><br>
                        <div id="boardList">
                            <div class="first">no.1</div>
                            <div class="second">digntm</div>
                            <div class="third">김정찬</div>
                            <div class="force">멘토</div>
                            <div class="five">Y</div>
                        </div><br>
                        <div id="boardList">
                            <div class="first">no.1</div>
                            <div class="second">digntm</div>
                            <div class="third">김정찬</div>
                            <div class="force">멘토</div>
                            <div class="five">Y</div>
                        </div><br>
                        <div id="boardList">
                            <div class="first">no.1</div>
                            <div class="second">digntm</div>
                            <div class="third">김정찬</div>
                            <div class="force">멘토</div>
                            <div class="five">Y</div>
                        </div><br>
                        

                        <div class="board_page">
                            <a href="#" class="btn prew"><b><</b></a>
                            <a href="#" class="num selected"><b>1</b></a>
                            <a href="#" class="num"><b>2</b></a>
                            <a href="#" class="num"><b>3</b></a>
                            <a href="#" class="num"><b>4</b></a>
                            <a href="#" class="num"><b>5</b></a>
                            <a href="#" class="num"><b>6</b></a>
                            <a href="#" class="num"><b>7</b></a>
                            <a href="#" class="num"><b>8</b></a>
                            <a href="#" class="num"><b>9</b></a>
                            <a href="#" class="num"><b>10</b></a>
                            <a href="#" class="btn next"><b>></b></a>
                        </div>
                
                 
                        
                        
                        
                </div>
                </div>
                <br>

            </div>



       

    <footer class="territory" id="footer">
        <hr>
        <br>
        <a href="">공지사항</a> &nbsp;&nbsp;&nbsp;
        <a href="">1:1 실시간 채팅</a>
        <br>

        

    </footer>

</body>
</html>