<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1:1문의내역_상세페이지</title>
    <link href="../../../static/css/normal-frame.css" rel="stylesheet" />
    <link href="../../../static/css/cs-menu.css" rel="stylesheet" />
    <link href="../../../static/css/inquiry-detail.css" rel="stylesheet" />
  </head>

  <body>
    <div class="content">
      <div class="section">
        <div class="title">문의내역</div>

        <!-- 메뉴바 -->
        <div align="center" class="cs-menu-bar">
          <div class="cs-menu"><a href="#">공지사항</a></div>
          <div class="cs-menu"><a href="#">FAQ</a></div>
          <div class="cs-menu"><a href="#">1:1문의</a></div>
          <div class="cs-menu" id="selected-menu"><a href="#">문의내역</a></div>
        </div>

        <div class="line line1"></div>

        <div class="question-section">
          <div class="question-title">
            <div id="q-logo">Q.</div>
            <div class="question-info">
              <div id="question-title">질문제목</div>
              <div id="question-info">
                <div id="question-writer">mentee01</div>
                <div id="question-create-date">2023-08-01</div>
                <div id="question-status">처리상태</div>
              </div>
            </div>
          </div>
          <div class="question-box">
            <div name="question" id="question">질문질문</div>
          </div>
        </div>

        <div class="line line2"></div>

        <!-- 답변 미등록시 -->
        <!-- <div class="no-answer">등록된 답변이 없습니다</div> -->

        <!-- 답변 등록시 -->
        <div class="answer-section">
          <div id="a-logo">A.</div>
          <div class="answer"></div>
        </div>

        <!-- 목록 버튼 -->
        <button type="button" id="move-to-inquiry" onclick="location.href=''">
          목록
        </button>
        <!-- 목록 버튼 끝 -->
      </div>
    </div>
  </body>
</html>
