<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

    <resultMap id="memberResultSet" type="member">
        <id column="USER_NO" property="userNo"/>
        <result column="USER_ID" property='userId'/>
        <result column="USER_PWD" property="userPwd"/>
        <result column="USER_NAME" property="userName"/>
        <result column="PHONE" property="phone"/>
        <result column="EMAIL" property="email"/>
        <result column="ENROLL_DATE" property="enrollDate"/>
        <result column="STATUS" property="status"/>
        <result column="INTRODUCTION" property="introduction"/>
        <result column="MEMBER_TYPE" property="memberType"/>
        <result column="TOKEN" property="token"/>
        <result column="GRADE" property="grade"/>
    </resultMap>

    <resultMap id="profileResultSet" type="profile">
        <id column="ATTACHMENT_ID" property="attachmentId"/>
        <result column="USER_NO" property="userNo"/>
        <result column="FILE_ORIGIN_NAME" property="originName"/>
        <result column="FILE_CHANGE_NAME" property="changeName"/>
        <result column="FILE_PATH" property="filePath"/>
        <result column="FILE_SIZE" property="fileSize"/>
    </resultMap>





    <select id="loginUser" parameterType="member" resultMap="memberResultSet">
        SELECT *
        FROM MEMBER
        WHERE USER_ID = #{userId}
          AND USER_PWD = #{userPwd}
          AND STATUS = 'Y'
    </select>

    <insert id="insertMember" parameterType="member">
        INSERT INTO MEMBER
        (USER_ID,
         USER_PWD,
         USER_NAME,
         PHONE,
         EMAIL,
         ENROLL_DATE,
         STATUS,
         INTRODUCTION,
         MEMBER_TYPE,
         TOKEN,
         GRADE)
        VALUES (#{userId}, #{userPwd}, #{userName}, #{phone}, #{email}, DEFAULT,
                'Y', #{introduction}, #{memberType}, 0, 'BYTE')
    </insert>

    <select id="selectProfile" parameterType="int" resultMap="profileResultSet">
        SELECT *
        FROM PROFILE_IMG
        WHERE USER_NO = #{userNo}
    </select>

    <select id="getFollowList" parameterType="int" resultMap="memberResultSet">
        SELECT M.*
        FROM FOLLOW AS F
                 INNER JOIN MEMBER AS M ON F.FROM_USER = M.USER_NO
        WHERE F.TO_USER = #{userNo}
    </select>

    <select id="getProfileList" parameterType="int" resultMap="profileResultSet">
        SELECT M.*, P.*
        FROM MEMBER AS M
                 LEFT JOIN PROFILE_IMG AS P ON M.USER_NO = P.USER_NO
        WHERE M.USER_NO = #{userNo}
    </select>

    <select id="getFollowerList" parameterType="int" resultMap="memberResultSet">
        SELECT M.*
        FROM FOLLOW AS F
                 INNER JOIN MEMBER AS M ON F.FROM_USER = M.USER_NO
        WHERE F.FROM_USER = #{userNo}
    </select>

        <update id="updateProfile" parameterType="member">
            UPDATE MEMBER
            SET USER_PWD     = #{userPwd},
                INTRODUCTION = #{introduction}
            WHERE USER_ID = #{userId}
        </update>






</mapper>

