<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="matchingMapper">

    <!-- mentoringResult resultMap -->
    <resultMap id="mentoringResult" type="mentoring">
        <id column="MENTOR_REGIS_NO" property="regisNo"/>
        <result column="USER_NO" property="userNo"/>
        <result column="TITLE" property="title"/>
        <result column="CONTENT_1" property="content1"/>
        <result column="CONTENT_2" property="content2"/>
        <result column="CONTENT_3" property="content3"/>
        <result column="CODE_LANG" property="codeLang"/>
        <association property="member" resultMap="memberResultMap"/>
    </resultMap>


    <resultMap id="memberResultMap" type="Member">
        <result column="USER_ID" property="userId"/>
        <result column="INTRODUCTION" property="introduction"/>
        <result column="MEMBER_TYPE" property="memberType"/>
    </resultMap>


    <select id="selectList" parameterType="hashMap" resultMap="mentoringResult" useCache="false">
        SELECT
        <if test='memberType == "E"'>
            O.USER_ID, O.INTRODUCTION, M.CODE_LANG, M.TITLE
        </if>
        <if test='memberType == "O"'>
            O.USER_ID, O.INTRODUCTION, M.CODE_LANG
        </if>

        <if test="keyword != null and keyword != ''">
            AND
            <choose>
                <when test="condition == 'title'">
                    TITLE LIKE '%${keyword}%'
                </when>
                <when test="condition == 'id'">
                    O.USER_ID LIKE '%${keyword}%'
                </when>
                <when test="condition == 'codeLang'">
                    CODE_LANG LIKE '%${keyword}%'
                </when>
            </choose>
        </if>
        FROM MENTOR M
        JOIN MEMBER O ON M.USER_NO = O.USER_NO
        WHERE O.MEMBER_TYPE != #{memberType}
    </select>


    <select id="selectListCount" parameterType="hashmap" resultType="int">
        SELECT
        COUNT(*)
        FROM MENTOR M
        JOIN MEMBER O ON M.USER_NO = O.USER_NO
        WHERE O.MEMBER_TYPE != #{memberType}
        <if test="keyword != null and keyword != ''">
            AND
            <choose>
                <when test="condition == 'title'">
                    TITLE LIKE '%${keyword}%'
                </when>
                <when test="condition == 'id'">
                    O.USER_ID LIKE '%${keyword}%'
                </when>
                <when test="condition == 'codeLang'">
                    CODE_LANG LIKE '%${keyword}%'
                </when>
            </choose>
        </if>
    </select>


    <insert id="insertMentoring" parameterType="member">
        INSERT INTO MENTOR
        (USER_NO,TITLE,CONTENT_1,CONTENT_2,CONTENT_3,CODE_LANG
        )VALUES(
        #{userNo},
        #{title},
        #{content1},
        #{content2},
        #{content3},
        #{codeLang}
        )




    </insert>


</mapper>

