<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="matchingMapper">

    <!-- mentoringResult resultMap -->
    <resultMap id="mentoringResult" type="mentoring">
        <id column="MENTOR_REGIS_NO" property="regisNo"/>
        <result column="USER_NO" property="userNo"/>
        <result column="TITLE" property="title"/>
        <result column="CONTENT_1" property="content1"/>
        <result column="CONTENT_2" property="content2"/>
        <result column="CONTENT_3" property="content3"/>
        <result column="CODE_LANG" property="codeLang"/>
        <association property="member" resultMap="memberResultMap"/>
    </resultMap>


    <resultMap id="memberResultMap" type="Member">
        <id column="USER_NO" property="userNo"/>
        <result column="USER_ID" property="userId"/>
        <result column="INTRODUCTION" property="introduction"/>
        <result column="MEMBER_TYPE" property="memberType"/>
    </resultMap>

    <resultMap id="profileResultMap" type="profile">
        <result column="USER_NO" property="userNo"/>
        <result column="FILE_CHANGE_NAME" property="changeName"/>
        <result column="FILE_PATH" property="filePath"/>
    </resultMap>

    <resultMap id="matchingResult" type="matching">
        <id column="MT_NO" property="matchNo"/>
        <result column="MATCHING_REGIS_NO" property="matchingRegisNo"/>
        <result column="MENTOR_REGIS_NO" property="mentorNo"/>
        <result column="MENTEE_REGIS_NO" property="menteeNo"/>
        <result column="STATUS" property="status"/>
        <result column="CREATE_AT" property="createDate"/>
    </resultMap>


    <select id="selectList" parameterType="hashMap" resultMap="mentoringResult" useCache="false">
        SELECT
        <if test='memberType == "E"'>
            O.USER_ID, O.INTRODUCTION, M.CODE_LANG, M.TITLE
        </if>
        <if test='memberType == "O"'>
            O.USER_ID, O.INTRODUCTION, M.CODE_LANG
        </if>

        <if test="keyword != null and keyword != ''">
            AND
            <choose>
                <when test="condition == 'title'">
                    TITLE LIKE '%${keyword}%'
                </when>
                <when test="condition == 'id'">
                    O.USER_ID LIKE '%${keyword}%'
                </when>
                <when test="condition == 'codeLang'">
                    CODE_LANG LIKE '%${keyword}%'
                </when>
            </choose>
        </if>
        FROM MENTOR M
        JOIN MEMBER O ON M.USER_NO = O.USER_NO
        WHERE O.MEMBER_TYPE != #{memberType}
    </select>


    <select id="selectListCount" parameterType="hashmap" resultType="int">
        SELECT
        COUNT(*)
        FROM MENTOR M
        JOIN MEMBER O ON M.USER_NO = O.USER_NO
        WHERE O.MEMBER_TYPE != #{memberType}
        <if test="keyword != null and keyword != ''">
            AND
            <choose>
                <when test="condition == 'title'">
                    TITLE LIKE '%${keyword}%'
                </when>
                <when test="condition == 'id'">
                    O.USER_ID LIKE '%${keyword}%'
                </when>
                <when test="condition == 'codeLang'">
                    CODE_LANG LIKE '%${keyword}%'
                </when>
            </choose>
        </if>
    </select>


    <insert id="insertMentoring" parameterType="member">
        INSERT INTO MENTOR
        (USER_NO, TITLE, CONTENT_1, CONTENT_2, CONTENT_3, CODE_LANG)
        VALUES (#{userNo},
                #{title},
                #{content1},
                #{content2},
                #{content3},
                #{codeLang})
    </insert>





    <select id="getMentorList" parameterType="int" resultType="member" resultMap="memberResultMap">
        SELECT DISTINCT MB.USER_ID, MB.INTRODUCTION, MB.MEMBER_TYPE, MB.USER_NO
        FROM MENTOR MT
                 LEFT JOIN MATCHING MAT ON MT.MENTOR_REGIS_NO = MAT.MATCHING_REGIS_NO
                 LEFT JOIN MEMBER MB ON MAT.MENTEE_REGIS_NO = MB.USER_NO
                 LEFT JOIN PROFILE_IMG PI ON MB.USER_NO = PI.USER_NO
        WHERE MT.USER_NO = #{userNo}
          AND MB.USER_ID IS NOT NULL;
    </select>

    <select id="getMentorProfileList" parameterType="int" resultType="profile" resultMap="profileResultMap">
        SELECT DISTINCT PI.USER_NO, PI.FILE_CHANGE_NAME, PI.FILE_PATH
        FROM MENTOR MT
                 LEFT JOIN MATCHING MAT ON MT.MENTOR_REGIS_NO = MAT.MATCHING_REGIS_NO
                 LEFT JOIN PROFILE_IMG PI ON MAT.MENTEE_REGIS_NO = PI.USER_NO
        WHERE MT.USER_NO = #{userNo}
          AND PI.FILE_CHANGE_NAME IS NOT NULL
          AND PI.FILE_PATH IS NOT NULL;
    </select>

    <select id="getMentoringList" parameterType="int" resultType="mentoring" resultMap="mentoringResult">
        SELECT MT.*
        FROM MATCHING MAT
                 JOIN MENTOR MT ON MAT.MENTEE_REGIS_NO = USER_NO
        WHERE MAT.MENTOR_REGIS_NO = 2
          AND MT.TITLE IS NOT NULL;
    </select>

    <select id="getMatchingList" parameterType="int" resultType="matching" resultMap="matchingResult">
        SELECT MATCHING.*
        FROM MATCHING
        WHERE MATCHING.MENTOR_REGIS_NO = #{userNo}
    </select>

<!--    여기서부터는 받은 요청 -->

    <select id="getMentorList2" parameterType="int" resultType="member" resultMap="memberResultMap">
        SELECT DISTINCT MB.*
        FROM MATCHING MAT
                 JOIN MEMBER MB ON MAT.MENTOR_REGIS_NO = MB.USER_NO
        WHERE MAT.MENTEE_REGIS_NO = #{userNo}
    </select>

    <select id="getMentorProfileList2" parameterType="int" resultType="profile" resultMap="profileResultMap">
        SELECT DISTINCT PI.USER_NO, PI.FILE_CHANGE_NAME, PI.FILE_PATH
        FROM MATCHING MAT
                 JOIN MEMBER MB ON MAT.MENTOR_REGIS_NO = MB.USER_NO
                 LEFT JOIN PROFILE_IMG PI ON MB.USER_NO = PI.USER_NO
        WHERE MAT.MENTEE_REGIS_NO = #{userNo}
    </select>

    <select id="getMentoringList2" parameterType="int" resultType="mentoring" resultMap="mentoringResult">
        SELECT MTR.*
        FROM MENTOR MTR
        WHERE MTR.USER_NO = #{userNo};
    </select>

    <select id="getMatchingList2" parameterType="int" resultType="matching" resultMap="matchingResult">
        SELECT MATCHING.*
        FROM MATCHING
        WHERE MATCHING.MENTEE_REGIS_NO = #{userNo}
    </select>


</mapper>

