<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>

<div th:insert="header :: header"></div>

<div class="content">
    <div class="my_content">

        <div th:insert="mypage_left_menu :: mypage_left_menu"></div>

        <div class="my_right_container">
            <div class="my_right_container2">
                가나다라마바사
            </div>
        </div>

    </div>
</div>

<div th:insert="footer :: footer"></div>

</body>
</html>
