* {
    margin: 0;
    padding: 0;
    font-family: Pretendard Variable;
    box-sizing: border-box;
}

.content {
    height: 900px;
    width: 1200px;
    margin: auto;
    display: flex;
    border: 1px solid lightgray;
}

.sideMenuBar {
    border-right: 1px solid lightgray;
    height: 900px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 40px 432px 40px;
}

.sideMenus {
    width: 80px;
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.sideMenu>a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.sideMenu>a:hover {
    color: #40E0D0;
    font-weight: 700;
}

.section {
    width: 1000px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-list-wrap {
    width: 800px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-title {
    width: 600px;
    height: 40px;
    margin-top: 80px;
    font-size: 40px;
    font-weight: 700;
}

.member-searchbar {
    width: 800px;
    height: 36px;
    margin-top: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 20px;
}

#search-option {
    width: 100px;
    height: 32px;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 10px;
    border-color: rgb(223, 219, 219);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    padding-left: 10px;
}

#keyword {
    width: 200px;
    height: 32px;
    border-radius: 10px;
    border: 1px solid rgb(223, 219, 219);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    margin-right: 10px;
    padding-left: 10px;
    font-size: 20px;
}

#search-btn {
    background-color: white;
    border: none;
}

#search-btn:hover #search-logo {
    fill: #40E0D0;
}

.member-list {
    width: 800px;
    height: 600px;
    margin-top: 20px;
}

#member-list {
    width: 100%;
    height: 20px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 14px;
}

#member-list>thead {
    font-size: 20px;
}

#member-list>tbody>tr>td:first-child {
    border-radius: 10px 0 0 10px;
}

#member-list>tbody>tr>td:last-child {
    border-radius: 0 10px 10px 0;
}

#member-list>tbody>tr {
    background-color: #DFF6ED;
    height: 40px;
    font-size: 20px;
}

#member-list>tbody>tr:hover {
    background-color: #48917A;
    color: white;
    cursor: pointer;
}

.paging-area button {
    padding: 7px 12px;
    margin: 30px 2px;
    border: none;
    background-color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid rgb(226, 219, 219);
    font-weight: 500;

}

.paging-area button.active {
    background-color: #48917A;
    color: #fff;
}

.paging-area button:hover {
    background-color: #48917A;
    color: #fff;
}