/*분류, 검색창 시작*/
#kind-search {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 800px;
}

/*분류*/
#faq-kind {
    padding-left: 10px;
    width: 160px;
    height: 32px;
    font-size: 15px;
    border-radius: 10px;
    border-color: rgb(223, 219, 219);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    margin-right: 10px;
}


/* 검색창 */
#keyword {
    padding-left: 10px;
    width: 280px;
    height: 32px;
    border-color: rgb(223, 219, 219);
    border-radius: 10px;
    font-size: 15px;
    box-shadow: none;
    border: 1px solid rgb(231, 230, 230);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-right: 10px;

}


#search-btn {
    background-color: white;
    border: none;
    cursor: pointer;
}

#search-btn:hover #search-logo {
    fill: #40E0D0;
}


/*분류, 검색창 끝*/














/*게시판 글 시작*/
#faq-area {
    border-collapse: separate;
    border-spacing: 0 16px;
    font-size: 17px;


}

#faq-area tbody td:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#faq-area tbody td:nth-child(2) {
    font-weight: bold;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.faq-item {
    background-color: #dff6ed;
    height: 48px;
    text-align: center;
}

.faq-item.clicked {
    background-color: #48917A;
    font-weight: 1000;
    color: white;

}

.faq-item:hover {
    background-color: #48917A;
    color: white;
}


.trashbtn {
    background-color: white;
    width: 40px;
}

.trash-logo:hover {
    cursor: pointer;
}

.trash-logo:hover path {
    stroke: red;
}





/*클릭되면 상세 faq 내용 나오게 하기 */
.faq-content {
    display: none;
}

.faq-item.clicked+.faq-content {
    display: table-row;
}

.faq-detail-content {
    overflow: hidden;
    width: 840px;
    height: auto;
    min-height: 30px;
    background-color: white;
    border: 1px solid #48917A;
    text-align: left;
    padding: 16px;
    border-radius: 10px;
    overflow-wrap: break-word;
}


/*게시판 글 끝*/







/*글작성 버튼*/
#move-to-insert {
    width: 900px;
    margin-top: 20px;
    display: flex;
    justify-content: right;
}

#move-to-insert>button {
    height: 36px;
    width: 114px;
    background-color: #48917A;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    font-size: 18px;
    font-family: "bd";
}

#move-to-insert>button:hover {
    color: white;
}

/*글작성 버튼 끝*/



/* 페이징바 */
.paging-area button {
    padding: 7px 12px;
    margin: 30px 2px;
    border: none;
    background-color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid rgb(226, 219, 219);
    font-weight: 500;

}

.paging-area button.active {
    background-color: #48917A;
    color: #fff;
}

.paging-area button:hover {
    background-color: #48917A;
    color: #fff;
}

/* 페이징바 끝 */