/*게시판 글 시작*/
#inquiry-area {
    margin-top: 40px;
    border-collapse: separate;
    border-spacing: 0 12px;
    font-size: 17px;
}

#inquiry-area tbody td:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#inquiry-area tbody td:nth-child(2) {
    font-weight: bold;
    cursor: pointer;
}

#inquiry-area tbody td:nth-child(4) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#inquiry-area tbody tr {
    background-color: #dff6ed;
    height: 44px;
    text-align: center;
}

#inquiry-area tbody tr:hover {
    background: #48917A;
    cursor: pointer;
    color: white;
}




/*게시판 글 끝*/







/*글작성 버튼*/
#move-to-inquiry {
    width: 900px;
    display: flex;
    justify-content: right;
    margin-top: 40px;
}

#move-to-inquiry>button {
    width: 130px;
    height: 32px;
    text-decoration: none;
    background-color: #48917A;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

#move-to-inquiry>button:hover {
    color: white;
}

/*글작성 버튼 끝*/



/* 페이징바 */
.paging-area button {
    padding: 7px 12px;
    margin-top: 40px;
    border: none;
    background-color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid rgb(226, 219, 219);
    font-weight: 500;

}

.paging-area button.active {
    background-color: #48917A;
    color: #fff;
}

.paging-area button:hover {
    background-color: #48917A;
    color: #fff;
}

/* 페이징바 끝 */