/* 작성 폼 시작 */
#knowledge-table {
    font-size: 17px;
    margin-top: 120px;
}

#knowledge-table tr td {
    text-align: left;

}

#knowledge-table tr th {
    text-align: left;
}


/* 분야 */
#knowledge-kind {
    width: 192px;
    height: 36px;
    font-size: 17px;
    border-radius: 10px;
    border-color: rgb(223, 219, 219);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    margin: 12px 0px 12px 15px;
    padding-left: 10px;

}

#knowledge-kind:focus {
    border-color: #48917A;
    outline: none;
}



/* 제목 */
#knowledge-title {
    font-size: 17px;
    width: 650px;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid rgb(223, 219, 219);
    margin: 12px 0px 12px 15px;
}

#knowledge-title:focus {
    border-color: #48917A;
    outline: none;
}



/* 내용 */
#knowledge-content {
    font-size: 17px;
    width: 650px;
    border-radius: 10px;
    border: 1px solid rgb(223, 219, 219);
    text-align: left;
    padding: 10px;
    overflow: hidden;
    height: auto;
    min-height: 350px;
    margin: 12px 0px 12px 15px;
    vertical-align: top;
    resize: none;
}

#knowledge-content:focus {
    border-color: #48917A;
    outline: none;
}















/* 첨부파일 */
#knowledge-file {
    display: none;
}

#knowledge-upload {
    font-size: 17px;
    height: 26px;
    width: 140px;
    border: 0px solid;
    cursor: pointer;
    text-align: center;
    margin: 12px 0px 12px 15px;
    color: #48917A;
}






/* 취소, 작성 버튼 */
.knowledge-btns {
    width: 300px;
    height: 32px;
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
}

.knowledge-btns button {
    width: 100px;
    height: 32px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4) !important;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}

.knowledge-btns button:hover {
    color: white;
}

#knowledge-reset-btn {
    background-color: #48917A;
}


#knowledge-submit-btn {
    background-color: #DFF6ED;
}

/* 취소, 작성 버튼 끝 */