.main-text{
    margin: 70px 652px 0px 0px ;
    font-size: 40px;
}

/* 게시글 정보 테이블 시작 */
#free-table{
    font-size: 17px;

    text-align: left;
   margin : 80px 0px 40px 173px
}
.free-title{
   width: 840px;
}
#free-table thead tr th{
    padding: 5px;
}
#free-table tbody tr td{
    padding-left: 5px;
}
.seeimg{
    padding: 0px;
    width: 26px;
    height: 26px;
    transform: translate(10px,3px);
}
/* 게시글 정보 테이블 끝 */




/* 게시글 내용 시작 */
.free-content{
    font-size: 17px;
    width: 800px;
    border-radius: 10px;
    border: 1px solid #48917A;
    margin: 0 auto; 
    text-align: left;
    padding: 20px;
    overflow:hidden;
	height:auto;
    min-height: 150px;
}
/* 게시글 내용 끝 */


/* 신고하기 버튼 */
#move-to-report{
    margin-left: 750px;
}
#move-to-report a {
    text-decoration: none;
    color: #48917A;
    font-size: 17px;

} 

/*목록,삭제 버튼*/
#move-to-change {
    height: 36px;
    width: 114px;
    background: #48917A;
    border-radius: 10px;
    margin-top: 32px;
    margin-left: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    float: left;
}

#move-to-change a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

#move-to-change  a:hover {
    color: white;
}
 

#move-to-delete {
    height: 36px;
    width: 114px;
    background: #DFF6ED;
    border-radius: 10px;
    margin-top: 32px;
    margin-left:630px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

#move-to-delete a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

#move-to-delete a:hover {
    color: white;
}



/*목록 삭제 버튼 끝*/



/*하트 버튼 */
.loveimg{
    width: 48px;
    height: 48px;
    cursor: pointer;
    transform: translate(-3px,14px);
    margin-top: 30px;
    margin-left: 10px;
}
#count-love{
    font-size: 28px;
}







/*댓글 시작 */

/*댓글 수, 댓글 등록*/
#all-reply{
    font-size: 17px;
    margin-top: 70px;
    text-align: left;
    margin-left: 178px;
}

.textarea-container {
    display: flex;
    align-items: flex-start; /* You can adjust alignment as needed */
}


#reply-content {
    font-size: 17px;
    border-radius: 10px;
    border: 1px solid #48917A;
    margin: 15px 15px 15px 180px; 
    text-align: left;
    padding: 10px;
    overflow: auto;
	height:auto;
    min-height: 80px;
    resize: none;
    flex: 1;
}
#reply-content:focus{
    border-color: #48917A; 
    outline: none;
}



#insert-reply {
    height: 44px;
    width: 114px;
    background: #48917A;
    border-radius: 10px;
    margin-top: 45px;
    margin-right: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    float: left;
    font-size: 17px;
    border: 0px;
    font-weight: 700;
}

#insert-reply:hover {
    color: white;
}
/*댓글 수, 댓글 등록 끝*/




/* 댓글 목록*/
#free-area {
    border-collapse: separate;
    border-spacing: 0 10px;
    font-size: 17px;
    margin-left: 179px;
    
}

#free-area tbody td:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: bold;
    
}

#free-area tbody td:nth-child(5) {
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.free-reply {
    
    background-color: #dff6ed;
    height: 52px;
   

}
.trashbtn{
    background-color: white;

    border: 0;
}
.trashbtn img{
    width: 32px;
    height: 32px;
    cursor: pointer;
}
