
/* 게시글 정보 테이블 시작 */
#inquiry-table{
    font-size: 17px;

    text-align: left;
   margin : 32px 0px 40px 174px
}
.inquiry-title{
   width: 840px;
}
#inquiry-table thead tr th{
    padding: 5px;
}
#inquiry-table tbody tr td{
    padding: 5px;
}

/* 게시글 정보 테이블 끝 */




/* 게시글 내용 시작 */
.inquirycontent{
    font-size: 17px;
    width: 800px;
    border-radius: 10px;
    border: 1px solid #48917A;
    margin: 0 auto; 
    text-align: left;
    padding: 20px;
    overflow:hidden;
	height:auto;
    min-height: 150px;
}
/* 게시글 내용 끝 */


/*Q, A */
#question-text{
    font-size: 40px;
    color: #48917A;
    font-weight: 600;
    transform: translate(-456px,-308px);
}
#answer-text{
    font-size: 40px;
    color: #48917A;
    font-weight: 600;
   transform: translate(-458px,45px);
}




/*목록 버튼*/
#move-to-inquiry {
    height: 36px;
    width: 114px;
    background: #DFF6ED;
    border-radius: 10px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

#move-to-inquiry a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

#move-to-inquiry a:hover {
    color: white;
}