
/*게시판 글 시작*/
#inquiry-area {
    border-collapse: separate;
    border-spacing: 0 10px;
    font-size: 17px;
    margin: 56px 0px 20px 176px;

}

#inquiry-area tbody td:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#inquiry-area tbody td:nth-child(2) {
    font-weight: bold;
    cursor: pointer;
}

#inquiry-area tbody td:nth-child(4) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#inquiry-area tbody tr {
    background-color: #dff6ed;
    height: 44px;
    transition: background-color 0.05s ease-in-out, box-shadow 0.2s ease-in-out;
    /* 그림자 효과에 대한 트랜지션 추가 */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    /* 그림자 효과 추가 */

}

#inquiry-area tbody tr:hover {
    background: #48917A;
    cursor: pointer;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* 호버 상태에서 더 강한 그림자 효과 추가 */
}
#inquiry-area a{
    text-decoration:none;
    color:black;
}


/*게시판 글 끝*/







/*글작성 버튼*/
#move-to-inquiry {
    height: 36px;
    width: 126px;
    background: #48917A;
    border-radius: 10px;
    margin-left: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

#move-to-inquiry a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

#move-to-inquiry a:hover {
    color: white;
}

/*글작성 버튼 끝*/