.main-text{
    margin: 70px 732px 0px 0px ;
    font-size: 40px;
}



    /* 작성 폼 시작 */
    #knowledge-table {
        margin-left: 175px;
        font-size: 17px;
        margin-top: 120px;
    }
    #knowledge-table tr td {
        text-align: left;
        
    }
    #knowledge-table tr th{
        text-align: left;
        vertical-align: top;
     
    }





    /* 내용 */
    #knowledge-content {
        font-size: 17px;
        width: 650px;
        border-radius: 10px;
        border: 1px solid rgb(223, 219, 219);
        text-align: left;
        padding: 8px 12px;
        overflow: hidden;
        height: auto;
        min-height: 250px;
        margin: 0px 0px 24px 15px;
        vertical-align: top;
        resize:none;
    }
    #knowledge-content:focus{
        border-color: #48917A; 
        outline: none;
    }
    





    
    /* 첨부파일 */
    #knowledge-file {
        display: none;
    }
    #knowledge-upload{
        font-size: 17px;
        height: 26px;
        width: 140px;
        border: 0px solid ;
        cursor: pointer;
        text-align: center;
        margin: 0px 0px 12px 15px;
        color: #48917A;
    }






    /* 취소, 작성 버튼 */
    #knowledge-back {
        font-size: 17px;
        height: 36px;
        width: 100px;
        background: #DFF6ED;
        border-radius: 10px;
        border: 0px solid ;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
        margin-right: 40px;
        cursor: pointer;
    }

    #knowledge-back:hover {
        color: white;
    }

    #knowledge-change {
        font-size: 17px;
        height: 36px;
        width: 100px;
      
        background: #48917A;
        border-radius: 10px;
        border: 0px solid ;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }

    #knowledge-change:hover {
        color: white;
    }
    /* 취소, 작성 버튼 끝 */

