* {
    margin: 0;
    padding: 0;
    font-family: Pretendard Variable;
    box-sizing: border-box;
}

.content {
    height: 1436px;
    /*컨텐츠 영역 사이즈*/
    width: 1200px;
    /*바꾸면 안 됨*/
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,
            rgba(72, 145, 122, 0.2) 99.99%,
            rgba(72, 145, 122, 0) 100%),
        linear-gradient(180deg,
            rgba(64, 224, 208, 0.6) 0%,
            rgba(64, 224, 208, 0) 73.96%),
        #fff;
}

.loginMain {
    width: 572px;
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login input {
    border-radius: 10px;
    border: 1px solid;
    width: 400px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 40px;
}

.loginButton {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.loginButton button {
    text-align: center;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    font-size: 40px;
    border: 1px solid;
}

#login-btn {
    background-color: #40e0d0;
}