
body{
            
    box-sizing: border-box;/*바꾸면 안 됨*/
    text-align: center;/*바꾸면 안 됨*/
    width: 1200px;/*바꾸면 안 됨*/
}



.territory{/*헤더, 푸터 가로 길이 설정*/
    border: 1px solid red;
    width: 1200px;/*바꾸면 안 됨*/
    margin: auto;
}

ul>li{
    list-style-type: none;
}

/*====================================================================================== */
/*======================================헤더=============================================*/
/*====================================================================================== */

header{
    height: 64px;/*바꾸면 안 됨*/
}




/*====================================================================================== */
/*======================================컨텐츠===========================================*/
/*====================================================================================== */
.content{
    border: 1px solid red;
    height: 1436px; /*컨텐츠 영역 사이즈*/
    width: 1200px;/*바꾸면 안 됨*/
    margin: auto;
}



/*====================================================================================== */
/*======================================푸터=============================================*/
/*====================================================================================== */
footer{
    height: 440px;/*바꾸면 안 됨*/
    font-size: 11px;
}






.heading_list{
    text-align: left;
    margin-left: 240px;
    margin-top: 28px;
}

.ptag{
    text-align: left;
    margin-left: 240px;
  
}
#searchForm{
  float:right;
  margin:5px;
  display: flex;
  
}

.SearchSelect{
    margin-right: 4px;
}
.form-control{
    margin-right: 4px;
}
.searchBtn{
   margin-right: 64px;
}

.category{
    align-items: left;
    padding-left: 664px;          
}
.category input{
    font-weight: 600;
    font-size: 15px;
    border: none;
    background-color:transparent;
}
.category input:hover{
    cursor: pointer;
}
.sh_category{

  padding-bottom: 100px;
}
#contentwrap2_category{
    margin-left: 100px;
}



.list-section {
display: flex;
justify-content: center;
align-items: center;

}

.item-list {
flex-wrap:wrap;
display: flex;
margin-top: -124px;

}

.list-item {
cursor: pointer;
padding: 96px;
background-color: #DFF6ED;
border: 1px solid #ccc;
margin: 40px;
border-radius: 5px;
width: 104px;
height: 136px;
}

.modal {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
background-color: #fff;
width: 500px;
height: 824px;
padding: 20px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 5px;

}
.detail_mentor{
text-align: left;

}
.open-secondary-modal-btn{
background-color: #DFF6ED;
border-radius: 10px;
border: 0.5px solid;
width: 88px;    
cursor: pointer;       
}
.pagination {
text-align: center;
margin-top: 20px;
}

.pagination a {
display: inline-block;
padding: 5px 10px;
text-decoration: none;
color: #333;
border: 1px solid #ddd;
margin: 0 2px;
}

.pagination a:hover {
background-color: #f1f1f1;
}
.info-list{
margin-bottom: 10px;
display: flex;
}
.info-list dt{ 
font-weight: bold;
}
.menti_insert{
background-color: #DFF6ED;
border-radius: 10px;
border: 0.5px solid;
width: 104px;   
margin-left: 936px;
margin-top: -28px;
display: flex;
cursor: pointer;
}



.circle-container {
width: 150px;
height: 150px;
border-radius: 50%;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.circle-container img {
max-width: 100%;
max-height: 100%;
border-radius: 50%;
}
.infomation{
text-align: center;
margin-bottom: 77px;
margin-top: -92px;
margin-left: 200px;
display: flex;
}



.follow-button {
background-color: #DFF6ED;
border-radius: 10px;
border: 0.5px solid;
width: 88px;    
cursor: pointer;   
transition: background-color 0.3s ease;
margin-left: 45px;
}

.follow-button:hover {
background-color: #59a186;
}