body{
            
    box-sizing: border-box;/*바꾸면 안 됨*/
    text-align: center;/*바꾸면 안 됨*/
    width: 1200px;/*바꾸면 안 됨*/
}

.territory{/*헤더, 푸터 가로 길이 설정*/
    border: 1px solid red;
    width: 1200px;/*바꾸면 안 됨*/
    margin: auto;
}

ul>li{
    list-style-type: none;
}

/*====================================================================================== */
/*======================================헤더=============================================*/
/*====================================================================================== */

header{
    height: 64px;/*바꾸면 안 됨*/
}




/*====================================================================================== */
/*======================================컨텐츠===========================================*/
/*====================================================================================== */
.content{
    border: 1px solid red;
    height: 900px; /*컨텐츠 영역 사이즈*/
    width: 1200px;/*바꾸면 안 됨*/
    margin: auto;
}



/*====================================================================================== */
/*======================================푸터=============================================*/
/*====================================================================================== */
footer{
    height: 440px;/*바꾸면 안 됨*/
    font-size: 11px;
}
#sideMenuBar{
border: 1px solid;
height: 900px;
width: 300px;
}
#inputMenuBar{
border: 1px solid;
height: 900px;
width: 896px;
position: relative;
top:-902px;
left:302px;
}
#sideMenuBar li{
 text-align: center;  
 list-style:none;
 font-size: 20px;
}

#box1{
border: 0px solid;
width: 400px;
height: 300px;
position: relative;
top: 0px;
left:0px;
border-top: 0px;
border-top-style:none;
border-right-style:none;
border-bottom-style:none;
}
#box2{
border: 1px solid;
width: 330px;
height: 230px;
position: relative;
top: -370.5px;
left: 401px;
border-bottom-style:dashed;
border-left-style:dashed;
border-top-style:none;
border-right-style:none;
}
#box3{
border: 1px solid;
width: 330px;
height: 230px;
position: relative;
top: -372px;
left: 71px;
border-bottom-style:none;
border-left-style:none;
border-right-style:dashed;
border-top-style:dashed;
}
#box4{
border: 0px solid;
width: 400px;
height: 300px;
position: relative;
top: -604px;
left: 402px;
}
#allBox{
position: relative;
top:400px;
left:50px;
}
#inBox1{
background-color: rgb(64, 224, 208, 0.3);

border: 0px solid;
width: 300px;
height: 200px;
position: relative;
bottom: 28px;
left:-29px;
}
#inBox2{
background-color: rgb(64, 224, 208, 0.3);

border: 0px solid;
width: 300px;
height: 200px;
position: relative;
bottom:230px;
left: 330px;
}
#inBox3{
background-color: rgb(64, 224, 208, 0.3);

border: 0px solid;
width: 300px;
height: 200px;
position: relative;
bottom: 173px;
left:-30px;
}
#inBox4{
background-color: rgb(64, 224, 208, 0.3);

border: 0px solid;
width: 300px;
height: 200px;
position: relative;
bottom:375px;
left: 330px;
}
#allInBox{
position: relative;
bottom:705px;
left:151px;
}
#realAllBox{
position: relative;
top: -90px;
}