body{
            
    box-sizing: border-box;/*바꾸면 안 됨*/
    text-align: center;/*바꾸면 안 됨*/
    width: 1200px;/*바꾸면 안 됨*/
}

.territory{/*헤더, 푸터 가로 길이 설정*/
    border: 1px solid red;
    width: 1200px;/*바꾸면 안 됨*/
    margin: auto;
}

ul>li{
    list-style-type: none;
}

/*====================================================================================== */
/*======================================헤더=============================================*/
/*====================================================================================== */

header{
    height: 64px;/*바꾸면 안 됨*/
}




/*====================================================================================== */
/*======================================컨텐츠===========================================*/
/*====================================================================================== */
.content{
    border: 1px solid red;
    height: 1000px; /*컨텐츠 영역 사이즈*/
    width: 1200px;/*바꾸면 안 됨*/
    margin: auto;
}



/*====================================================================================== */
/*======================================푸터=============================================*/
/*====================================================================================== */
footer{
    height: 440px;/*바꾸면 안 됨*/
    font-size: 11px;
}
#sideMenuBar{
border: 1px solid;
height: 1000px;
width: 300px;
}
#inputMenuBar{
border: 1px solid;
height: 1000px;
width: 896px;
position: relative;
top:-1002px;
left:302px;
}
#sideMenuBar li{
 text-align: center;  
 list-style:none;
 font-size: 20px;
 
}

/* 회원상세정보 상단창 전체 */
#memberHeader h1{
text-align: left;
}

#memberBox{
position: relative;
top:-50px;
}
#memberState li{
text-align: left;
list-style-type : none;
margin-bottom: 10px;
position: relative; top:-98px; left: 480px;
}

#memberImg{
 position: relative; top:70px; left:100px;
 width: 200px;
 height: 200px; 
  border-radius: 100px;
  overflow: hidden;
} 
/* 회원상세정보 끝*/

/* 소개글 관련 */
#allButton :hover{
cursor: pointer;
}

#contentGrey{
position: relative;
top:-20px;
border: 0px solid;
background-color: gainsboro;
width: 650px;
height: 500px;
border-radius: 10px;
border-top-left-radius: 0px;
}

#contentWhite{
position: relative;
top: 60px;
left:20px;
border: 0px solid;
background-color: white;
width: 610px;
height: 420px;
border-radius: 10px;
}

#contentWhite p{
text-align: left;
font-size: 20px;
position: relative;
left:100px;
top:10px;
}

#contentWhite input{
border: 0.1px solid;
border-radius: 10px;
}

.wantMento{
width: 400px;
height: 40px;
}
.ability{
width:400px;
height: 80px;
}
.self{
width: 400px;
height: 80px;
}

#introductionText{
border: px solid;
background-color: gainsboro;
width: 120px;
height: 55px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
position: relative;
top:75px;
}
#introductionText h3{
padding: 20px;
}
#boardListMain{
border: 1px solid;
background-color: green;
width: 120px;
height: 50px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
position: relative;
top:21px;
left:130px;
}

#fullIntroduction{
position: relative;
top:-150px; left:120px;
}
