<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HelloMentor-신고상세</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/css/admin-report-detail-style.css"
    />
  </head>
  <body>
    <div class="content">
      <div class="sideMenuBar">
        <div class="sideMenus">
          <div class="sideMenu"><a href="">회원관리</a></div>
          <div class="sideMenu"><a href="">문의관리</a></div>
          <div class="sideMenu"><a href="">신고관리</a></div>
          <div class="sideMenu"><a href="">공지사항</a></div>
        </div>
      </div>

      <div class="section">
        <div class="report-detail-wrap">
          <div class="report-title">신고 관리</div>
          <div class="report-section">
            <div class="report-info">
              <div id="category">카테고리 : 자유게시판</div>
              <div id="report-target-info">
                <div id="board-title">제목 : Spring 이렇게 하세요</div>
                <div id="board-writer">게시글 작성자 : mentee33</div>
              </div>
              <div id="writer-info">
                <div id="writer">신고자 : user01</div>
                <div id="report-create-date">신고일 : 2023-08-08</div>
              </div>
            </div>
            <div class="report-form">
              <div id="report-title-box">
                <input
                  type="text"
                  id="report-title"
                  value="사행성 게시글 신고합니다"
                  readonly
                />
              </div>
              <div id="report-content-box">
                <textarea id="report-content" readonly>내용내용</textarea>
              </div>
              <div id="report-attach">
                첨부파일 : <a href="" download="">신고캡쳐.jpg</a>
              </div>
            </div>
            <div class="report-accept-btns">
              <button
                class="report-btn report-list-btn"
                type="button"
                onclick=""
              >
                목록
              </button>
              <button
                class="report-btn report-accept-btn"
                type="button"
                onclick=""
              >
                접수
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
