<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HelloMentor-문의관리</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/css/admin-question-answer-style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/css/cs-menu.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="content">
      <div class="question-wrap">
        <div id="question-headline">문의내역</div>

        <div align="center" class="cs-menu-bar">
          <div class="cs-menu"><a href="#">공지사항</a></div>
          <div class="cs-menu"><a href="#">FAQ</a></div>
          <div class="cs-menu"><a href="#">1:1문의</a></div>
          <div class="cs-menu" id="selected-menu"><a href="#">문의내역</a></div>
        </div>

        <div class="line line1"></div>

        <div class="question-section">
          <div class="question-title">
            <div id="q-logo">Q.</div>
            <div class="question-info">
              <div id="question-title">질문제목</div>
              <div id="question-info">
                <div id="question-writer">mentee01</div>
                <div id="question-create-date">2023-08-01</div>
                <div id="question-status">처리상태</div>
              </div>
            </div>
          </div>
          <div class="question-box">
            <div name="question" id="question">질문질문</div>
          </div>
        </div>

        <div class="line line2"></div>

        <div class="answer-section">
          <div id="a-logo">A.</div>
          <textarea
            name="answer"
            id="answer"
            placeholder="(이곳에 답변을 등록해주세요)"
          ></textarea>
        </div>

        <div class="send-btn">
          <button id="back-btn" type="button" onclick="">목록</button>
          <button id="send-btn" type="submit" form="notice-form">
            답변등록
          </button>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        $("textarea").on("input", function () {
          this.style.height = "auto";
          this.style.height = this.scrollHeight + "px";
        });
      });
    </script>
  </body>
</html>
