<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공지사항_상세페이지</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="../../../static/css/normal-frame.css" rel="stylesheet" />
    <link href="../../../static/css/cs-menu.css" rel="stylesheet" />
    <link href="../../../static/css/notice-detail.css" rel="stylesheet" />
  </head>

  <body>
    <div class="content">
      <div class="section">
        <div class="title">공지사항</div>

        <!-- 메뉴바 -->
        <div align="center" class="cs-menu-bar">
          <div class="cs-menu" id="selected-menu"><a href="#">공지사항</a></div>
          <div class="cs-menu"><a href="#">FAQ</a></div>
          <div class="cs-menu"><a href="#">1:1문의</a></div>
          <div class="cs-menu"><a href="#">문의내역</a></div>
        </div>
        <!-- 메뉴바 끝 -->

        <!--공지사항 정보 및 내용 시작-->
        <table align="center" id="notice-table">
          <thead>
            <tr>
              <th colspan="3" class="notice-title">서버 점검 안내</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="200px">점검</td>
              <td width="200px">23.08.12</td>
              <td width="400px">조회수 | 0</td>
            </tr>
          </tbody>
        </table>

        <div class="noticecontent">공지사항 내용</div>

        <!--공지사항 정보 및 내용 끝-->

        <!--하단 버튼-->
        <div class="notice-btns">
          <button type="button" onclick="" id="list-btn">목록</button>
          <!-- 관리자만 삭제가 보인다. -->
          <button type="button" onclick="" id="delete-btn">삭제</button>
        </div>

        <!--하단 버튼 끝-->
      </div>
    </div>
  </body>
</html>
